body {
  margin: 0;
  height: 100%;
  width: 100%
}

ul {
  list-style-type: none;
}

li {
  text-decoration: none;
}

.container {
  display: flex;
  align-items: center;
}

.column {
  flex-direction: column;
}

.player-list {
  justify-content: center;
}

.player {
  padding: 0 1% 0;
}